body {
    margin: 0;

    font-family: Roboto, sans-serif;
    background: #1d2124;
    font-size: 14px;
}

.page {
    overflow: hidden;
    /*display: flex;
    flex-direction: column;*/
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/*header*/
#header {
    font-size: 16px;
}
.navbar-brand {
    font-weight: bold;
    font-size: 23px;
    align-items: center;
    text-align: center;
    display: inherit;
    color: #ffffff;
}
.collapse .search .user {
    font-weight: 500;
    color: #ffffff;

    text-shadow: 0px 1px 10px rgba(255, 255, 255, 0.3);
}
/*
.links{
    width: 264px;
    height: 60px;
    left: 841px;
    top: 20px;
}*/

.me-auto {
    margin-left: 329px !important;
    margin-left: auto !important;
    margin-top: 7px;
}

.btn {
    margin: 2px;
}

.search {
    margin-right: 80px;
    margin-right: auto;
    margin-top: 5px;
}

.user {
    margin-top: 9px;
}
/*header*/

/*main*/
.cont-slider{
    background-color: #ffffff;
    padding: 40px 20px 40px 20px;
}
.content {
    margin: 20px auto;
    max-width: 1320px;

    padding: 20px;
}

.article {
    color: white;
}

.link-mn {
    color: #1d2124;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

}

/*main*/

/*footer*/
#footer,
.cfoot {
    height: 345px;
    margin-top: auto;
}

.social {
    margin: 30px auto;
    width: 180px;
    height: 40px;
}

.anotation {
    margin: 117px auto;
    width: auto;
    height: 40px;
}

/*.anot{
    text-align: left;
}
.flinks{
    text-align: right;
}*/

.drop-links {
    display: block;
    float: right;
    font-size: 14px;
    margin-top: 112px;
}
.lin {
    text-decoration: none;
    color: white;
    padding: 10px;
}
.foot-info {
    color: white;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    padding-top: 99px;
    padding-left: 10px;
}
.pi {
    margin-top: 0;
    margin-bottom: 10px;
}
.r18 {
    display: inline-block;
    vertical-align: top;
    padding-top: 55px;
}

@media (max-width: 815px) {
    .drop-links {
        margin-top: 0;
        width: 100%;
        text-align: center;
    }
    .r18 {
        width: 100%;
        text-align: center;
        padding-top: 32px;
    }
    .foot-info {
        width: 100%;
        text-align: center;
        padding-top: 32px;
    }
}

p {
    margin-top: 0;
    margin-bottom: 0;
}
/*footer*/
